<div class="recomendacion-favota-card mat-elevation-z1">
  <!-- Encabezado -->
  <div class="recomendacion-favota-header">
    <h3>Recomendaciones favoritas</h3>
    <button mat-stroked-button color="primary" style="border-color: #1458D9;">
      Ver todos
    </button>
  </div>

  <!-- Tabla -->
  <table mat-table [dataSource]="recetasFavoritas" class="recomendacion-favoritas-table">

    <!-- Icono -->
    <ng-container matColumnDef="icono">
      <th mat-header-cell *matHeaderCellDef> </th> <!-- Encabezado vacío -->
      <td mat-cell *matCellDef="let receta">
        <span class="material-symbols-outlined">{{ receta.icono }}</span>
      </td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let receta">{{ receta.nombre }}</td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="receta_acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let receta" class="acciones-cell">
        <button mat-icon-button 
                class="receta_acciones" 
                [matMenuTriggerFor]="recomendacionMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #recomendacionMenu="matMenu">
          <button mat-menu-item (click)="onEditarRecomendacion(receta, $event)">
            <mat-icon>check_circle</mat-icon>
            <span>Usar recomendación</span>
          </button>
          <button mat-menu-item (click)="onDuplicarRecomendacion(receta, $event)">
            <mat-icon>visibility</mat-icon>
            <span>Ver recomendación</span>
          </button>
          <button mat-menu-item (click)="onEliminarRecomendacion(receta, $event)" class="delete-option">
            <mat-icon>delete</mat-icon>
            <span>Eliminar recomendación</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Filas -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>